/****** Typograpy ******/
body {
  font-family: 'Audiowide', cursive;
  color: white;
  background-color: black;
}

h1 {
  font-family: 'Audiowide', cursive;
  color: #257ccd;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: 'Audiowide', cursive;
  color: #ff2f76;
  font-size: 1.5em;
  text-align: center;
}

p {
  font-size: .8em;
  line-height: 1.3em;
  color: #bed5ea;
  margin-top: 10px;
}

hr {
  border-color: #257ccd;
}

/****** Containers ******/

.directions {
  position: absolute;
  height: 20vw;
  width: 20vw;
  min-width: 240px;
  min-height: 240px;
  border-radius: 50%;
  left: 2%;
  box-shadow: 0px 0px 25px 7px #257ccd;
  background-color: black;
  animation: fadein 1s;
}

/*.ring {
  width: 300px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid red;
  position: absolute;
  z-index: -100;
  transform: rotateZ(-17deg);
}*/

.container {
  max-width: 550px;
  height: 550px;
  background-color: black;
  border-radius: 50%;
  margin: 50px auto;
  padding: 15px;
  box-shadow: 0px 0px 25px 7px #FFEB3B;
  animation: fadein 2s;
}

.inter-container {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.main-stage {
  width: 220px;
  background-color: rgba(37, 124, 205, 0.81);
  border-radius: 4px;
  padding: 5px 10px;
  margin: 20px auto;
  text-align: center;
  font-size: 22px;
  transition: all 1s ease-in-out;
}

.top-div{
}
.game-element {
  margin: 15px 10px;
}

.game-stat {
  display: inline-block;
}

.reset {
  background-color: rgba(239, 5, 84, 0.69);
}

/****** Misc Elements ******/

#reset-btn {
  width: 153px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #257ccd;
  color: white;
  margin: 20px auto;
  text-align: center;
  transition: all .3s ease-in-out;
}

#reset-btn:hover {
  background-color: #3c94e6;
  font-size: 17px;
}

#rocket {
  width: 6%;
  position: absolute;
  bottom: 13%;
  left: -7%;
  animation-name: rocketFly;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;

}

#guess-word {
  transition: all 1s ease;
}

#incorrect-guesses {
  color: #ef0000;
}


/*Rocket flies in on load*/
@keyframes rocketFly {
    from {
      bottom: 13%;
      left: -7%;
    }
    to {
      bottom: 100%;
      left: 50%;
    }
}

/*Content gracfully fades in on load*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
